{% load static %}

<article class="club-player-tile{% if compact %} is-compact{% endif %}">
    <span class="club-player-category">{{ item.category }}</span>
    <a class="club-player-main-link" href="{{ item.profileUrl }}">
        <span class="club-player-cutout-wrap">
            <img class="club-player-cutout" src="{{ item.cutoutUrl }}" alt="{{ item.playerName }}" onerror="this.onerror=null;this.src='{% static 'game/images/default_player.svg' %}'">
        </span>
        <strong class="club-player-name-row">
            {% if item.flagUrl %}
                <img class="club-player-name-flag" src="{{ item.flagUrl }}" alt="">
            {% endif %}
            <span>{{ item.playerName }}</span>
            {% if item.ntBadgeUrl %}
                <img class="club-player-nt-badge" src="{% static item.ntBadgeUrl %}" alt="">
            {% endif %}
        </strong>
    </a>
    {% if item.metricUrl %}
        <a class="club-player-metric is-{{ item.metricTone }}" href="{{ item.metricUrl }}" target="_blank" rel="noopener noreferrer">
            {{ item.metricLabel }}
        </a>
    {% else %}
        <em class="club-player-metric is-{{ item.metricTone }}">{{ item.metricLabel }}</em>
    {% endif %}
</article>
