{% load static %}
{% if evt.type == 'goal' %}
<div class="ev-row {% if evt.team == 'home' %}t-h{% else %}t-a{% endif %}" data-type="goal">
    <span class="ev-ico">&#9917;</span><span class="ev-min">{{ evt.minute }}'</span>
    <span class="ev-club">
        {% if evt.team == 'home' %}
            {% if report.home_club_id %}<a class="crest-link" href="{% url 'club_detail' report.home_club_id %}">{% if report.home_club_crest %}<img src="{% static report.home_club_crest %}" alt="">{% endif %}<b>{{ report.home_club_short }}</b></a>{% else %}{% if report.home_club_crest %}<img src="{% static report.home_club_crest %}" alt="">{% endif %}<b>{{ report.home_club_short }}</b>{% endif %}
        {% else %}
            {% if report.away_club_id %}<a class="crest-link" href="{% url 'club_detail' report.away_club_id %}">{% if report.away_club_crest %}<img src="{% static report.away_club_crest %}" alt="">{% endif %}<b>{{ report.away_club_short }}</b></a>{% else %}{% if report.away_club_crest %}<img src="{% static report.away_club_crest %}" alt="">{% endif %}<b>{{ report.away_club_short }}</b>{% endif %}
        {% endif %}
    </span>
    <span class="ev-txt"><span class="tag tag-tor">TOR</span>{% if evt.commentary_html %}{{ evt.commentary_html }}{% else %}{{ evt.commentary }}{% endif %}</span>
    <span class="ev-score">{{ evt.score_h }}:{{ evt.score_a }}</span>
</div>

{% elif evt.type == 'card' %}
<div class="ev-row {% if evt.team == 'home' %}t-h{% else %}t-a{% endif %}" data-type="card">
    <span class="ev-ico">&#9646;</span><span class="ev-min">{{ evt.minute }}'</span>
    <span class="ev-club">
        {% if evt.team == 'home' %}
            {% if report.home_club_id %}<a class="crest-link" href="{% url 'club_detail' report.home_club_id %}">{% if report.home_club_crest %}<img src="{% static report.home_club_crest %}" alt="">{% endif %}<b>{{ report.home_club_short }}</b></a>{% else %}{% if report.home_club_crest %}<img src="{% static report.home_club_crest %}" alt="">{% endif %}<b>{{ report.home_club_short }}</b>{% endif %}
        {% else %}
            {% if report.away_club_id %}<a class="crest-link" href="{% url 'club_detail' report.away_club_id %}">{% if report.away_club_crest %}<img src="{% static report.away_club_crest %}" alt="">{% endif %}<b>{{ report.away_club_short }}</b></a>{% else %}{% if report.away_club_crest %}<img src="{% static report.away_club_crest %}" alt="">{% endif %}<b>{{ report.away_club_short }}</b>{% endif %}
        {% endif %}
    </span>
    <span class="ev-txt"><span class="tag {% if evt.card_type == 'rot' or evt.card_type == 'gelbrot' %}tag-rot{% else %}tag-gelb{% endif %}">{% if evt.card_type == 'rot' %}ROT{% elif evt.card_type == 'gelbrot' %}GELB-ROT{% else %}GELB{% endif %}</span>{% if evt.commentary_html %}{{ evt.commentary_html }}{% else %}{{ evt.commentary }}{% endif %}</span>
    <span></span>
</div>

{% elif evt.type == 'sub' or evt.type == 'gk_red_off' %}
<div class="ev-row {% if evt.team == 'home' %}t-h{% else %}t-a{% endif %}" data-type="sub">
    <span class="ev-ico">&#8645;</span><span class="ev-min">{{ evt.minute }}'</span>
    <span class="ev-club">
        {% if evt.team == 'home' %}
            {% if report.home_club_id %}<a class="crest-link" href="{% url 'club_detail' report.home_club_id %}">{% if report.home_club_crest %}<img src="{% static report.home_club_crest %}" alt="">{% endif %}<b>{{ report.home_club_short }}</b></a>{% else %}{% if report.home_club_crest %}<img src="{% static report.home_club_crest %}" alt="">{% endif %}<b>{{ report.home_club_short }}</b>{% endif %}
        {% else %}
            {% if report.away_club_id %}<a class="crest-link" href="{% url 'club_detail' report.away_club_id %}">{% if report.away_club_crest %}<img src="{% static report.away_club_crest %}" alt="">{% endif %}<b>{{ report.away_club_short }}</b></a>{% else %}{% if report.away_club_crest %}<img src="{% static report.away_club_crest %}" alt="">{% endif %}<b>{{ report.away_club_short }}</b>{% endif %}
        {% endif %}
    </span>
    <span class="ev-txt"><span class="tag tag-sub">WECHSEL</span>{% if evt.commentary_html %}{{ evt.commentary_html }}{% else %}{{ evt.commentary }}{% endif %}</span>
    <span></span>
</div>

{% elif evt.type == 'injury' %}
<div class="ev-row {% if evt.team == 'home' %}t-h{% else %}t-a{% endif %}" data-type="injury">
    <span class="ev-ico">&#129497;</span><span class="ev-min">{{ evt.minute }}'</span>
    <span class="ev-club">
        {% if evt.team == 'home' %}
            {% if report.home_club_id %}<a class="crest-link" href="{% url 'club_detail' report.home_club_id %}">{% if report.home_club_crest %}<img src="{% static report.home_club_crest %}" alt="">{% endif %}<b>{{ report.home_club_short }}</b></a>{% else %}{% if report.home_club_crest %}<img src="{% static report.home_club_crest %}" alt="">{% endif %}<b>{{ report.home_club_short }}</b>{% endif %}
        {% else %}
            {% if report.away_club_id %}<a class="crest-link" href="{% url 'club_detail' report.away_club_id %}">{% if report.away_club_crest %}<img src="{% static report.away_club_crest %}" alt="">{% endif %}<b>{{ report.away_club_short }}</b></a>{% else %}{% if report.away_club_crest %}<img src="{% static report.away_club_crest %}" alt="">{% endif %}<b>{{ report.away_club_short }}</b>{% endif %}
        {% endif %}
    </span>
    <span class="ev-txt"><span class="tag tag-rot">VERLETZUNG</span>{% if evt.commentary_html %}{{ evt.commentary_html }}{% else %}{{ evt.commentary }}{% endif %}</span>
    <span></span>
</div>

{% elif evt.team == 'home' or evt.team == 'away' %}
<div class="ev-row {% if evt.team == 'home' %}t-h{% else %}t-a{% endif %}" data-type="flow">
    <span class="ev-ico">&#8213;</span><span class="ev-min">{{ evt.minute }}'</span>
    <span class="ev-club">
        {% if evt.team == 'home' %}
            {% if report.home_club_id %}<a class="crest-link" href="{% url 'club_detail' report.home_club_id %}">{% if report.home_club_crest %}<img src="{% static report.home_club_crest %}" alt="">{% endif %}<b>{{ report.home_club_short }}</b></a>{% else %}{% if report.home_club_crest %}<img src="{% static report.home_club_crest %}" alt="">{% endif %}<b>{{ report.home_club_short }}</b>{% endif %}
        {% else %}
            {% if report.away_club_id %}<a class="crest-link" href="{% url 'club_detail' report.away_club_id %}">{% if report.away_club_crest %}<img src="{% static report.away_club_crest %}" alt="">{% endif %}<b>{{ report.away_club_short }}</b></a>{% else %}{% if report.away_club_crest %}<img src="{% static report.away_club_crest %}" alt="">{% endif %}<b>{{ report.away_club_short }}</b>{% endif %}
        {% endif %}
    </span>
    <span class="ev-txt"><span class="tag tag-neu"></span>{% if evt.commentary_html %}{{ evt.commentary_html }}{% else %}{{ evt.commentary }}{% endif %}</span>
    <span></span>
</div>

{% else %}
<div class="ev-row t-n" data-type="flow">
    <span class="ev-ico">&#8213;</span><span class="ev-min">{{ evt.minute }}'</span>
    <span class="ev-club neutral"><b>&middot;</b></span>
    <span class="ev-txt"><span class="tag tag-neu"></span>{% if evt.commentary_html %}{{ evt.commentary_html }}{% else %}{{ evt.commentary }}{% endif %}</span>
    <span></span>
</div>
{% endif %}
