{% extends 'base.html' %}
{% load static %}

{% block title %}Vereinsnews – {{ club.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'game/css/vereinsnews.css' %}?v=4">
{% endblock %}

{% block content %}
<script>
window.VN_DATA = {{ vn_data_json|safe }};
window.VN_DATA.csrf = '{{ csrf_token }}';
</script>
<div id="vereinsnews-app"></div>
{% endblock %}

{% block extra_js %}
<script>window.wsDefaultPlayerUrl='{{ default_player_url }}';</script>
<script src="{% static 'game/js/vereinsnews.js' %}?v=4"></script>
{% endblock %}
